@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-text {
  background-size: 200% 200%;
  animation: textGradient 4s ease-in-out infinite;
}
